---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">Please see my publications on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<br />
<h1>Representative Works</h1>

<table style="width:100%; ">
  <tr>
    <td style="width:30%; ">
      <img src="https://cmz12301.github.io/images/oam_processor.png" 
           alt="OAM Processor">
    </td>
    <td style=";">
      <b>Orbital angular momentum processing via diffractive networks for terahertz mode-division-multiplexed wireless links</b><br>
      <b><u>Ming-Zhe Chong</u></b>, Shao-Xin Huang, Zong-Kun Zhang, Ka Fai Chan, Peijie Feng, Kam Man Shum, Kwun Wing Cheung, Geng-Bo Wu, Chi Hou Chan, Ming-Yao Xia<br>
      <i>Light: Science & Applications</i>, 2026, accepted (first author)<br>
      <a href="https://www.researchsquare.com/article/rs-7986423/v1">[Link]</a>
    </td>
  </tr>
</table>

<table style="width:100%; ">
  <tr>
    <td style="width:30%; ">
      <img src="https://cmz12301.github.io/images/janus_imager.png" 
           alt="Janus Meta-imager">
    </td>
    <td style=";">
      <b>Janus meta-imager: asymmetric image transmission and transformation enabled by diffractive neural networks</b><br>
      <b><u>Ming-Zhe Chong</u></b>, Cong He, Peijie Feng, Zong-Kun Zhang, Guangzhou Geng, Junjie Li, Ming-Yao Xia, Lingling Huang<br>
      <i>PhotoniX</i>, 2025 (first author)<br>
      <a href="https://link.springer.com/article/10.1186/s43074-025-00223-1">[Link]</a>
    </td>
  </tr>
</table>

<table style="width:100%; ">
  <tr>
    <td style="width:30%; ">
      <img src="https://cmz12301.github.io/images/beam_splitter.png" 
           alt="THz Beam Splitter">
    </td>
    <td style=";">
      <b>Reconfigurable terahertz beam splitters enabled by inverse-designed meta-devices</b><br>
      <b><u>Ming-Zhe Chong</u></b>, Shao-Xin Huang, Zong-Kun Zhang, Peijie Feng, Ka Fai Chan, Chi Hou Chan, Ming-Yao Xia<br>
      <i>Photonics Research</i>, 2025 (first author)<br>
      <a href="https://opg.optica.org/prj/fulltext.cfm?uri=prj-13-8-2328">[Link]</a>
    </td>
  </tr>
</table>

<p>To be completed.</p>

<!-- New style rendering if publication categories are defined -->

<!-- To be completed 
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
-->


